{%extends display.dash%}


{%block content%}
<div class="tbox">
	<h2>عملیات انتقال اطلاعات</h2>
</div>

<div class="cbox">
	<div class="badge success">{{1 | fitNumber}}</div>
	<form method="post" >
		<input type="submit" class="btn primary w300 mRa20" value="بسم الله">
		<label>فایل طرح ها رو آماده کردم! بیا شروع کنیم</label>
		<input type="file" name="plan">
		<input type="hidden" name="level" value="planfile">
	</form>
</div>


<div class="cbox">
	<div class="badge success">{{2 | fitNumber}}</div>
	<form method="post" >
		<input type="submit" class="btn primary w300 mRa20" value="می تونم برات حذفشون کنم!">
		<label>یه سری موبایل ها اشتباهه! چه کنیم؟</label>
		<input type="hidden" name="level" value="removefakemobile">
	</form>
</div>


<div class="cbox">
	<div class="badge success">{{3 | fitNumber}}</div>
	<form method="post" >
		<input type="submit" class="btn primary w300 mRa20" value="چشم. یا علی | حدود ۱۵ دقیقه طول می کشه">
		<label>ساختار موبایل ها رو یکپارچه می کنی برام؟</label>
		<input type="hidden" name="level" value="fixmobile">
	</form>
</div>


<div class="cbox">
	<div class="badge success">{{4 | fitNumber}}</div>
	<form method="post" >
		<input type="submit" class="btn primary w300 mRa20" value=":|">
		<label>کد ملی تکراری!!! تلفیقشون کن!</label>
		<input type="hidden" name="level" value="nationalcodeduplicate">
	</form>
</div>



<div class="cbox">
	<div class="badge success">{{5 | fitNumber}}</div>
	<form method="post" >
		<input type="submit" class="btn primary w300 mRa20" value="اینا رو هم حذف می کنم!">
		<label>یه سری افراد نه کلاس شرکت کردند نه پول دادند!</label>
		<input type="hidden" name="level" value="removeuselessuser">
	</form>
</div>
<div class="cbox">
	<p>یه سری تغییر دیتابیسی داریم برای آماده سازی انتال اطلاعات</p>
	<p>مثل قرار دادن فیلد شهر ها و کشور ها برای انتقال توی جدول پرسن</p>
	<p>برای سطوح دسترسی باید فکری کرد</p>
	<p>انتقال اطلاعات دانش آموزان</p>
	<p>انتقال اطلاعات اساتید</p>
	<p>انتقال اطلاعات کارشناسان</p>
	<p>موبایل های فراگیران رو باید توی جدول پرسن قرار بدیم که برای انتقال راحت باشه</p>
	<p>با توجه به اون فایلی که سر فصل ها رو وارد کردیم باید یه دیتابیس تمپ ساخته بشه که کد طرح قبلی و کد سرفصل جدید توش ثتب بشه</p>
	<p>
		باید به ازای هر سه ماه یه ترم ثبت بشه و کلاس ها با توجه به تاریخشون توی اون ترم قرار بگیرند
		اگه این کارو نکنیم آمارمون کلا به هم ور میشه

	</p>
	<p>
		ساعات کلاس باید تفکیک بشه و اکه یه کلاس مثلا توی سه روز برگزار میشه باید توی سه تا رکورد ذخیره بشه
	</p>

	<p>
		طبق سرفصل های جدید و کلاس ها و طبق شعبه که تفکیک جنسیتش مشخص میشه باید دروس ارائه شده پر بشه
		و سپس فراگیران واردش بشن
	</p>

	<p>
		اوایی که پول دارند باید مبلغ پولشون منتقل بشه
		در مورد کسانی که پولشون منفیه باید با مدیر صحبت کنم

	</p>

	<p>
		به علی باید بگیم یه لیستی از گواهی نامه هایی که ثبت میشه و ثبت بوده تهیه کنه
		همون طرح ها رو بشینه بگه هر طرحی کدوم گواهی نامه رو داره
	</p>

	<p>
		غیبت ها باید منتقل بشه

	</p>
</div>
{%endblock%}

